<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-xl-9">
        <h2>แม่บ้าน</h2>
      </div>
      <div class="col-sm-3" style="justify-content: right;"><button nz-button nzType="primary" (click)="add()" class="custom-button">+
          เพิ่มแม่บ้าน
        </button>
        <button nz-button nzType="primary" (click)="detail()" class="custom-button" style="margin-left: 40px;">
          ดูรายละเอียดตารางงานแม่บ้าน
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <nz-table #dataMaid [nzData]="dataMaids">
      <thead>
        <tr>
          <th>รูป</th>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
          <th>ชื่อผู้ใช้</th>
          <th>เบอร์โทรติดต่อ</th>
          <th>วันเกิด</th>
          <th>ที่อยู่</th>
          <th>เรทติ้ง</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataMaids">
          <td><img style="width: 200px;" [src]="data.profile"></td>
          <td>{{ data.fname }}</td>
          <td>{{ data.lname }}</td>
          <td>{{ data.username }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ this.convertToThaiDate(data.birthday) }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.maid_rating }}</td>
          <td>
            <button nz-button nzType="primary" (click)="showModal(data.id_user)" class="custom-button">
              + ตารางงานแม่บ้าน
            </button>
          </td>
          <td>
            <button nz-button nzType="primary" (click)="goedit(data.id_user)" class="custom-button">
              แก้ไขข้อมูลแม่บ้าน
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Maid Work" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading" [nzWidth]="'50%'">
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="handleOk()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dayselector" nzRequired>
          <span>วันที่</span>
        </nz-form-label>
        <nz-date-picker formControlName="day"></nz-date-picker>
        <br />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timeselector" nzRequired>
          <span>ช่วงเวลาการทำงาน</span>
        </nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a time" formControlName="id_timeworktype"
          class="custom-margin" style="width: 255px">
          <nz-option nzLabel="ช่วงเช้า" nzValue="1"></nz-option>
          <nz-option nzLabel="ช่วงบ่าย" nzValue="2"></nz-option>
        </nz-select>
      </nz-form-item>
    </form>
  </div>
</nz-modal>