<div class="card">
  <div class="card-header" style="display: flex;
    justify-content: space-between;;">
    <h2>Maid</h2>
    <button type="button" (click)="this.add()" class="btn btn-outline-success">+ เพิ่มแม่บ้าน</button>
  </div>
  <div class="card-body">
    <nz-table #dataMaid [nzData]="dataMaids">
      <thead>
        <tr>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
          <th>เบอร์โทร</th>
          <th>เรทติ้ง</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataMaid.data">
          <td>{{ data.fname }}</td>
          <td>{{ data.lname }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.maid_rating }}</td>
          <button type="button"  class="btn btn-outline-success">+ เพิ่มตารางงาน</button>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>