<nz-card nzTitle="Maid" class="card-title">
    <form nz-form [formGroup]="validateForm" class="form-nz">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">ชื่อผู้ใช้</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid username!">
                <input nz-input formControlName="username" id="username" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>รหัสผ่าน</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                <input nz-input type="password" id="password" formControlName="password" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fname" nzRequired>
                <span>ชื่อจริง</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your firstname!">
                <input nz-input id="fname" formControlName="fname" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lname" nzRequired>
                <span>นามสกุล</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your lastname!">
                <input nz-input id="lname" formControlName="lname" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>
                <span>เบอร์โทรศัพท์</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your phone!">
                <input nz-input id="phone" formControlName="phone" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roomnumber" nzRequired>
                <span>เลขห้อง</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your roomnumber!">
                <input nz-input id="roomnumber" formControlName="roomnumber" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roomnumber" nzRequired>
                <span>ขนาดห้อง</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your roomnumber!">
                <input nz-input id="roomnumber" formControlName="roomnumber" />
            </nz-form-control>
        </nz-form-item>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="type_id"
            class="custom-margin">
            <nz-option nzLabel="resident" nzValue=2></nz-option>
            <nz-option nzLabel="maid" nzValue=3></nz-option>
        </nz-select>
        <nz-form-item nz-row class="register-area">
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" (click)="submitForm()">สมัคร</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>