[nz-form] {
    max-width: 600px;
  }
  
  .phone-select {
    width: 70px;
  }
  
  .register-area {
    margin-bottom: 8px;
  }

  .custom-margin {
    margin-left: 150px;
  }
  .card-title{
    background-color: #F8F8F8;
  }
