.card-title {
  background-color: #F5F5F5; 
  color: #fff; 
  text-align: center; 
  font-size: 24px; 
  padding: 16px; 
}

.card-title .form-container {
  display: flex;
  flex-direction: column; /* จะกระจายแนวดิ่ง */
  align-items: center; /* จะกระจายแนวนอน (ให้อยู่ตรงกลาง) */
  padding: 20px; /* ปรับแต่งตามความต้องการ */
  /* อื่น ๆ ที่คุณต้องการ */
}

.form-nz {
  padding: 16px; 
  border: 1px solid #e8e8e8; 
  border-radius: 4px; 
}


.nz-form-control {
  margin-bottom: 16px; 
}


button {
  width: 100%; 
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

button:hover{
  background-color: #4CAF50;
    color: white;
}