<nz-card nzTitle="Create Maid" class="card-title">
    <div class="form-container">
    <div class="row">
        <div class="col-lg col-md-push-3">
            <form nz-form [formGroup]="validateForm" class="form-nz">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">ชื่อผู้ใช้</nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="The input is not valid username!">
                        <input nz-input formControlName="username" id="username" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>รหัสผ่าน</nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please input your password!">
                        <input nz-input type="password" id="password" formControlName="password" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="profile">รูปภาพ</nz-form-label>
                    <input type="file" (change)="handleUploadimg($event)" class="form-control" accept="image/png,image/jpeg" required title="กรุณาใส่รูปภาพ" >
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fname" nzRequired>
                        <span>ชื่อจริง</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please input your firstname!">
                        <input nz-input id="fname" formControlName="fname" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lname" nzRequired>
                        <span>นามสกุล</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please input your lastname!">
                        <input nz-input id="lname" formControlName="lname" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
                        <span>ชื่อเล่น</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please input your nickname!">
                        <input nz-input id="nickname" formControlName="nickname" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>
                        <span>เบอร์โทรศัพท์</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please input your phone!">
                        <input nz-input type="tel" id="phone" formControlName="phone" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id_card" nzRequired>
                        <span>เลขบัตรประชาชน</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please input your id_card!">
                        <input nz-input type="number" id="id_card" formControlName="id_card" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="birthday" nzRequired>
                        <span>วันเกิด</span>
                    </nz-form-label>
                        <nz-date-picker formControlName="birthday"></nz-date-picker>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>
                        <span>ที่อยู่</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="5" [nzXs]="24" nzErrorTip="Please input your address!">
                        <input nz-input id="address" formControlName="address" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="register-area">
                </nz-form-item>
                <nz-form-item nz-row class="register-area">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <button nz-button nzType="primary" (click)="submitForm()">สมัคร</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</div>
</nz-card>