<div class="card">
  <div class="card-header" style="display: flex;
    justify-content: space-between;;">
    <h2>รายงาน</h2>
  </div>
  <div class="card-body">
    <nz-table #dataFeedbacks [nzData]="feedbacks">
      <thead>
        <tr>
          <th>เลขห้อง</th>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
          <th>ปัญหา</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataFeedbacks.data">
          <td>{{ data.roomnumber }}</td>
          <td>{{ data.fname }}</td>
          <td>{{ data.lname }}</td>
          <td>{{ data.feedback_description }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>