<div class="card">
  <div class="card-header" style="display: flex;
    justify-content: space-between;;">
    <h2>Resident</h2>
    <button type="button" (click)="this.add()" class="btn btn-outline-success">+ เพิ่มลูกบ้าน</button>
  </div>
  <div class="card-body">
    <nz-table #dataResidents [nzData]="dataResident">
      <thead>
        <tr>
          <th>เลขห้อง</th>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
          <th>เบอร์โทรติดต่อ</th>
          <th>อายุ</th>
          <th>ขนาดห้อง</th>
          <th>ที่อยู่</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataResidents.data">
          <td>{{ data.roomnumber }}</td>
          <td>{{ data.fname }}</td>
          <td>{{ data.lname }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.roomsize }}</td>
          <td>{{ data.address }}</td>
          <td>
            <button nz-button nzType="primary" (click)="deleteUser(data.id_user)"
              class="custom-primary-button">ลบลูกบ้าน</button>
          </td>
          <td>
            <button nz-button nzType="primary" (click)="goedit(data.id_user)"
              class="custom-primary-button">แก้ไขข้อมูลลูกบ้าน</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>