<div class="card">
  <div class="card-header" style="display: flex;
    justify-content: space-between;;">
    <h2>Resident</h2>
    <button type="button" (click)="this.add()" class="btn btn-outline-success">+ เพิ่มลูกบ้าน</button>
  </div>
  <div class="card-body">
    <nz-table #dataResidents [nzData]="dataResident">
      <thead>
        <tr>
          <th>เลขห้อง</th>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
          <th>เบอร์โทร</th>
          <th>ขนาดห้อง</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataResidents.data">
          <td>{{ data.roomnumber }}</td>
          <td>{{ data.fname }}</td>
          <td>{{ data.lname }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.roomsize }}</td>
          <td>
            <button nz-button [nzType]="'primary'" (click)="showModal(data)" class="custom-primary-button">
              ดูรายละเอียด
            </button>
            <nz-modal [(nzVisible)]="isVisible" nzTitle="รายละเอียดข้อมูล" (nzOnCancel)="handleCancel()"
              (nzOnOk)="handleOk()" class="custom-modal">
              <ng-container *nzModalContent>
                <p>หมายเลขห้อง: {{ dataDetails?.roomnumber }}</p>
                <p>ชื่อ: {{ dataDetails?.fname }}</p>
                <p>นามสกุล: {{ dataDetails?.lname }}</p>
                <p>เบอร์โทร: {{ dataDetails?.phone }}</p>
                <p>ขนาดห้อง: {{ dataDetails?.roomsize }}</p>
              </ng-container>
            </nz-modal>
          </td>
          <td>
            <button nz-button nzType="primary" (click)="deleteUser(data.id_user)"
              class="custom-primary-button">ลบลูกบ้าน</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>