.custom-primary-button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }

.custom-primary-button:hover {
    background-color: #4CAF50;
    color: white;
}
  
 
.custom-modal {
    background-color: #fdfdfd; 
    border-color: #ccc; 
    color: #333; 
}