<div class="card">
  <div class="card-header" style="display: flex; justify-content: space-between;">
    <h2>ตารางงานแม่บ้าน</h2>
  </div>
  <div class="card-body">
    <div class="search-box">
      <nz-table #dataItem [nzData]="workfilter" nzTableLayout="fixed">
        <thead>
          <tr>
            <th>
              วันที่
              <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
            </th>
            <th>เวลาเริ่มงาน</th>
            <th>เวลาเสร็จงาน</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataItem.data">
            <td>{{ convertToThaiDate(item.day) }}</td>
            <td>{{ item.start_work }}</td>
            <td>{{ item.end_work }}</td>
            <td>
              <button nz-button nzType="primary" (click)="deleteMaidTime(item.id_worktime)" class="custom-button">ลบงาน</button>
            </td>
            <td>
              <button nz-button nzType="primary" (click)="editmaid(item.id_worktime)" class="custom-button" style="margin-left: 40px;">แก้ไขข้อมูล</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <button nz-button nzType="primary" (click)="Back()" class="custom-button">Back</button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
