h2 {
    color: #000000;
    margin-bottom: 0;
    font-family: Kanit;
  }

  .custom-button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .custom-button:hover {
    background-color: #4CAF50;
    color: white;
  }

  .search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }