<div class="card">
    <div class="card-header" style="display: flex;
      justify-content: space-between;;">
        <h2>ตารางงานแม่บ้าน</h2>
        <nz-space>
            <nz-select *nzSpaceItem [(ngModel)]="mode">
              <nz-option nzValue="date" nzLabel="Date"></nz-option>
              <nz-option nzValue="week" nzLabel="Week"></nz-option>
              <nz-option nzValue="month" nzLabel="Month"></nz-option>
              <nz-option nzValue="year" nzLabel="Year"></nz-option>
            </nz-select>
            <nz-date-picker *nzSpaceItem [nzMode]="mode"></nz-date-picker>
          </nz-space>
    </div>
    <div class="card-body">
        <nz-table #dataItem [nzData]="data">
            <thead>
                <tr>
                    <th>วัน</th>
                    <th>วันที่</th>
                    <th>เวลาเริ่มงาน</th>
                    <th>เวลาเสร็จงาน</th>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataItem.data">
                    <td>{{ this.convertToThaiDayOfWeek(data.day) }}</td>
                    <td>{{ this.convertToThaiDate(data.day) }}</td>
                    <td>{{ data.start_work }}</td>
                    <td>{{ data.end_work }}</td>
                    <td>{{ data.fname }}</td>
                    <td>{{ data.lname }}</td>
                    <td>
                        <button nz-button nzType="primary" (click)="deleteMaidTime(data.id_worktime)" class="custom-button">ลบตารางการทำงานแม่บ้าน</button>
                    </td>
                    <td>
                        <button nz-button nzType="primary" (click)="editmaid(data.id_worktime )" class="custom-button" style="margin-left: 40px;">
                            แก้ไขข้อมูล
                          </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <button nz-button nzType="primary" (click)="Back()" class="custom-button">Back</button>
    </div>
</div>