<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-xl-9">
        <nz-card nzTitle="Edit WorkTime" class="card-title">
        <form nz-form [formGroup]="validateForm" class="form-nz">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dayselector" nzRequired>
                  <span>วันที่</span>
                </nz-form-label>
                <nz-date-picker formControlName="day"></nz-date-picker>
                <br />
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timeselector" nzRequired>
                  <span>ช่วงเวลาการทำงาน</span>
                </nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a time" formControlName="id_timeworktype"
                  class="custom-margin" style="width: 255px">
                  <nz-option nzLabel="ช่วงเช้า" nzValue="1"></nz-option>
                  <nz-option nzLabel="ช่วงบ่าย" nzValue="2"></nz-option>
                </nz-select>
              </nz-form-item>
              <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" (click)="editmaid(data.id_worktime)" class="custom-button">ยืนยัน</button>
                </nz-form-control>
            </nz-form-item>
            </form>
        </nz-card>
      </div>
      <div class="col">
      </div>
    </div>
</div>