<div class="card">
    <div class="card-header" style="display: flex;
      justify-content: space-between;;">
      <h2>ข้อมูลรายละเอียดการจอง</h2>
    </div>
    <div class="card-body">
      <nz-table #dataFeedbacks [nzData]="feedbacks">
        <thead>
          <tr>
            <th>หมายเลขการจอง</th>
            <th>ปัญหา</th>
            <th>วันที่จอง</th>
            <th>จำนวนชั่วโมงการทำงาน</th>
            <th>เวลาเริ่มงาน</th>
            <th>รายละเอียดการทำความสะอาด</th>
            <th>ราคา</th>
            <th>สลิปชำระการบริการ</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>เบอร์โทรติดต่อ</th>
            <th>สถานะ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataFeedbacks.data">
            <td>{{ data.booking_id }}</td>
            <td>{{ data.feedback_description }}</td>
            <td>{{ this.convertToThaiDate(data.booking_date) }}</td>
            <td>{{ data.work_hour }}</td>
            <td>{{ data.start_work }}</td>
            <td>{{ data.descriptmaid }}</td>
            <td>{{ data.service_price }}</td>
            <td><img style="width: 200px;"[src] = "convertImage(data.paymentslip)" > </td>
            <td>{{ data.fname }}</td>
            <td>{{ data.lname }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.status_description }}</td>
            <td>
              <button nz-button nzType="primary" (click)="updateStatus(data.feedback_id)">รับเรื่อง</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>